<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ck2020.basiclib">

    <application>
        <activity android:name="com.ck2020.mvpbasic.bas.activity.BaseMvpActivity"></activity>
        <activity android:name="com.ck2020.mvpbasic.bas.activity.BaseActivity" />
    </application>

</manifest>